@model List<Category>
<partial name="_Notification"/>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 text-end pb-3">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                          New Category
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Category Name
                            </th>
                            <th>
                                Display Order
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.OrderBy(o => o.DisplayOrder))
                        {
                            <tr>
                                <td>
                                    @obj.Name
                                </td>
                                <td>
                                    @obj.DisplayOrder
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <div>
                                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                                Edit
                                            </a>
                                        </div>
                                        <div class="col">
                                            <form asp-controller="Category" asp-action="Delete" method="post">
                                                <input type="hidden" name="id" value="@obj.Id" />
                                                <button type="submit" class="btn btn-danger mx-2" onclick="return confirm('Are you sure you want to delete this category?')">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

